<nav class="navbar-default navbar-static-side" role="navigation" ng-controller="SideNavCtrl">
	<div class="sidebar-collapse">
		<ul side-navigation class="nav metismenu" id="side-menu">
			<li class="nav-header">

				<div class="profile-element" uib-dropdown>
					<a uib-dropdown-toggle href>
						<span class="clear">
								<span class="block m-t-xs">
										<strong class="font-bold">{{main.userName}}</strong>
						 </span>
								<span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
						</span>
					</a>
					<ul uib-dropdown-menu class="animated flipInX m-t-xs">
						<li><a href="">Logout</a></li>
					</ul>
				</div>
				<div class="logo-element">
					IN+
				</div>

			</li>

			<li ui-sref-active="active">
				<a ui-sref=".todo"><i class="fa fa-laptop"></i> <span class="nav-label">Todo</span> </a>
			</li>
		</ul>

	</div>
</nav>
