<!-- Wrapper-->
<div id="wrapper">

	<!-- Navigation -->
	<div ng-include="'components/sideNav/sideNav.html'"></div>

	<!-- Page wraper -->
	<!-- ng-class with current state name give you the ability to extended customization your view -->
	<div id="page-wrapper" class="gray-bg">

		<!-- Page wrapper -->
		<div ng-include="'components/navbar/navbar.html'"></div>

		<!-- Main view  -->
		<div ui-view></div>

		<!-- Footer -->
		<div ng-include="'footer.html'"></div>

	</div>
	<!-- End page wrapper-->

</div>
<!-- End wrapper-->
