<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<table class="table">
				<thead>
					<tr>
						<th>Description</th>
						<th>Status</th>
						<th>Created</th>
						<th>Updated</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="todo in todos">
						<td ng-bind="todo.description"></td>
						<td ng-bind="todo.status"></td>
						<td ng-bind="todo.createTime | date: 'yyyy/MM/dd HH:mm:ss'"></td>
						<td ng-bind="todo.updateTime | date: 'yyyy/MM/dd HH:mm:ss'"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
