@import "/bower_components/bootstrap/dist/css/bootstrap.css";
@import '/bower_components/fontawesome/css/font-awesome.css';

@icon-font-path: '/bower_components/bootstrap/dist/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts/';

@import 'assets/css/animate.css';

@import 'assets/less/style';

//@import 'assets/css/main.css';
//@import "assets/css/icbs-gui-libs.css";


body {
  //padding-top: 50px
}

// Component styles are injected through grunt
// injector
@import 'components/navBar/navBar.less';
@import 'components/sideNav/sideNav.less';
@import 'modules/main/main.less';
// endinjector

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
