<div class="footer" align="center">
	<div id="links">
		<a href="#">Terms and Conditions</a> |
		<a href="#">Privacy Policy</a> |
		<a href="#">Disclaimer</a>
	</div>
	<div class="container" align="center" style="font-size: x-small">
		Demonstration project for AngularJS and Bootstrap
	</div>
</div>
